

@charset "utf-8";

// Used to remove menubar from page when printing.
.nonprintable {
  display: none;
}

// Make text smaller, remove spacing between list items when printing.
@media print {

  p, a, li {
    font-size: 12px;
    color : white;
  }

  h1, h2.ui.header, h3.ui.header {
    font-size: 14px;
  }

  a {
   // color: black;
    color: whitesmoke;
  }

  ul li {
    padding: 0px;
    margin: 0px;
  }
}