---
# Provide front matter so Jekyll processes this file as SASS.
---

// Put your custom CSS here if you want to override the defaults.
// Here are some common customizations for colors

// Customize the background color
body {
  background: linear-gradient(to bottom, #e1b6ed, #9dccea);
  color: white;
}

// Customize the menubar color
.ui.menu {
  background: white;
}

// Customize the home page icon colors
.icon-color {
  color: darken(#e1b6ed, 20%);
}
