---
# Provide front matter so Jekyll processes this file as SASS.
---

// Put your custom CSS here if you want to override the defaults.
// Here are some common customizations for colors

// Customize the background color
body {
  background-color: lightsteelblue;
}

// Customize the menubar color
.ui.menu {
  background: lightskyblue;
}

// Customize the home page icon colors
.icon-color {
  color: darken(lightsteelblue, 20%);
}
