---
# Provide front matter so Jekyll processes this file as SASS.
---
@charset "utf-8";

// Put your custom CSS here if you want to override the defaults.
// Here are some common customizations for colors

h2 {
  color: white !important;
}

h3 {
  color: white !important;
}

h1 {
  color: white !important;
}

// Customize the background color
body {
  background-color: #303340;
  color: white !important;
}

// Customize the menubar color
.ui.menu {
   background: lighten(silver, 10%);
   color: white !important;
}

.ui.basic.button {
  color: darkslateblue !important;
  background: lighten(silver, 10%) !important;
  scrollbar-highlight-color: yellow;
}

.ui.basic.button:hover {
  background-color: yellow;
}

pre {
    background-color: darkslategrey;
}

a {
  color: #6494ED;
}