---
# Provide front matter so Jekyll processes this file as SASS.
---

// Put your custom CSS here if you want to override the defaults.
// Here are some common customizations for colors

// Customize the background color
body {
  background-color: #E8E9EB;
}

// Customize the menubar color
.ui.menu {
  background: #ACADA8;
}

// Customize the home page icon colors
.icon-color {
  color: white;
}
