---
# Provide front matter so Jekyll processes this file as SASS.
---

// Put your custom CSS here if you want to override the defaults.
// Here are some common customizations for colors

// Customize the background color
body {
  background-color: #F5FFFA;
}

// Customize the menubar color
.ui.menu {
  background: #E0FFFF;
}

// Customize the home page icon colors
.icon-color {
  color: #7FFFD4;
}

