<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.volunteer %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">Activities</h3>
  </div>

  <div class="fourteen wide column no-bottom">
    {% for entry in site.data.bio.volunteer %}

    <div class="ui grid">
      <div class="twelve wide column no-bottom">
        <p class="ui no-bottom">
          <b>
            {{ entry.position }}{% if entry.organization and (entry.organization != "") %}, {{ entry.organization }}{% endif %}
          </b>
        </p>
        <p class="ui no-bottom"><a href="{{ entry.website }}">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>
        <p class="ui no-bottom">{{ entry.summary }}</p>
        {% if entry.highlights %}
        <ul style="margin: 0px;">
          {% for highlight in entry.highlights %}
          <li>{{ highlight }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="four wide right aligned column no-bottom">
        <p class="ui no-bottom"><b>
          {% if entry.startDate %}
          {{ entry.startDate | slice: 0,4 }}
          {% endif %}
          {% if entry.startDate and entry.startDate != '' and entry.endDate and entry.endDate != '' %}
          -
          {% endif %}
          {% if entry.endDate %}
            {% if entry.endDate != "Present" %}
              {{ entry.endDate | slice: 0,4 }}
            {% else %}
              {{ entry.endDate }}
            {% endif %}
          {% endif %}
        </b></p>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endif %}