<!-- Used by theme-bio-builtin-2 -->

{% assign hasGrant = false %}
{% assign hasNonGrant = false %}
{% for entry in site.data.bio.awards %}
  {% if entry.type == "grant" %}
     {% assign hasGrant = true %}
  {% elsif entry.type != "grant" %}
     {% assign hasNonGrant = true %}
  {% endif %}
{% endfor %}

{% if hasGrant %}
  <div class="sixteen wide column no-bottom">
    <h3 class="ui left aligned header no-bottom">Grant Support</h3>
    <hr style="margin: 0px;">
  </div>

  <div class="sixteen wide column no-bottom">
    {% for entry in site.data.bio.awards %}
      {% if entry.type == "grant" %}
        <p class="ui no-bottom">
          <b>{{ entry.title }}</b>, {{ entry.awarder }}{% if entry.date %}, {{ entry.date }}{% endif %}
        </p>
        <p class="ui">{{ entry.summary }}</p>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if hasNonGrant %}
  <div class="sixteen wide column no-bottom">
    <h3 class="ui left aligned header no-bottom">Awards and Honors</h3>
    <hr style="margin: 0px;">
  </div>

  <div class="sixteen wide column no-bottom">
    {% for entry in site.data.bio.awards %}
      {% if entry.type != "grant" %}
        <p class="ui no-bottom">
          <b>{{ entry.title }}</b>, {{ entry.awarder }}, {{ entry.date }}
        </p>
        <p class="ui">{{ entry.summary }}</p>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}


