<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.awards %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">Awards</h3>
  </div>

  <div class="fourteen wide column no-bottom">
    {% for entry in site.data.bio.awards %}

    <div class="ui grid">
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
          <b>{{ entry.title }}</b>, {{ entry.awarder }}{% if entry.date %}, {{ entry.date }}{% endif %}
        </p>
        <p class="ui">{{ entry.summary }}</p>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endif %}