<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.interests %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">Interests</h3>
  </div>

  <div class="fourteen wide column no-bottom">
    <p class="ui no-bottom">
    {% for entry in site.data.bio.interests %}
      {{ entry.name }}
      <!-- Unfortunately the following must all be on a single line so that there are no spaces before the commas. -->
      {% if entry.keywords and entry.keywords.size > 0 %}({% for keyword in entry.keywords %}{{ keyword }}{% if forloop.last != true %}, {% endif %}{% endfor %}){% endif %}{% if forloop.last != true %}, {% endif %}
    {% endfor %}
    </p>
  </div>
</div>
{% endif %}