<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <div class="email" style="margin-top: 50px; margin-bottom: 0em;">
    <div class="ui two column centered grid stackable">
      <div class="column">
        
        <h4 class="ui horizontal center aligned divider header">
          <i class="envelope icon"></i>
          Formulário De Contato
        </h4>

        <div id="contato_box" class="ui yellow segment">
          <form id="formulario" class="ui form" method="POST">
            <div class="field">
              <label>Nome Completo</label>
              <input name="nome_contato" id="nomeCompleto" required="true" type="text" name="first-name" placeholder="Nome Completo">
            </div>
            <div class="field">
              <label>Seu Email</label>
              <input name="email_contato" id="emailCompleto" required="true" type="text" name="last-name" placeholder="Seu Email">
            </div>
            <div class="field">
              <label>Mensagem</label>
              <textarea name="mensagem_contato" id="assunto" rows="2"></textarea>
            </div>
            <button type="submit" id="enviar" class="ui button jsOnly">Enviar</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>

</body>

</html>