<!-- Used by theme-essays-builtin-1 -->

<div class="card">
  <div class="content">
    <span class="header">{{ include.page.title }}</span>
    <div class="meta">
      <span class="date">{{ include.page.date | date_to_string }}</span>
    </div>

    <div class="description">
      {{ include.page.content | markdownify | strip_html | truncatewords: 40 }}
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      {% for label in include.page.labels %}
        <div class="ui basic label">{{ label }}</div>
      {% endfor %}
    </div>
  </div>

  <a class="ui bottom attached button" href="{{ site.baseurl}}{{ include.page.url }}">Read More</a>
</div>