<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">

  <title>Portfolio Demo</title>



  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>-->
  <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">-->

  <script src="{{ site.baseurl }}/css/semantic-ui/semantic.min.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/semantic-ui/semantic.min.css">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

</head>
