<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">

  <title>Portfolio Demo</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/semantic-ui.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/semantic-ui.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <script src="https://use.fontawesome.com/9703b4d56a.js"></script>

</head>
