<!-- Used by theme-home-builtin-1,2,3 -->

{% for profile in site.data.bio.basics.profiles %}
   <a href="{{ profile.url }}" class="ui circular icon {% if profile.network == "github" %} black {% elsif profile.network == "linkedin"%} blue {% elsif profile.network == "instagram"%} purple {% elsif profile.network == "headphones"%} red {% else %} white {% endif %} button"> <i class="large {{profile.network | downcase }} icon" style="align-content: center; justify-content: center; text-align: center;"></i> </a>
{% endfor %}

{% if site.data.bio.basics.email %}
  <a href="mailto:{{ site.data.bio.basics.email }}" class="ui circular icon green button"> <i class="large mail icon"></i> </a>
{% endif %}