<!-- Used by all builtin themes. Now we list number of posts and projects. -->

{% assign post_pages = site.pages | where: "type", "posts  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_posts = post_pages.size %}
{% assign num_projects = project_pages.size %}

<div class="nonprintable">
  <nav class="ui stackable menu">
    <a href="{{ site.baseurl}}/" class="brand item">
      <img class="ui avatar image" src="{{ site.data.bio.basics.picture }}"><span>{{ site.data.bio.basics.name }}</span>
    </a>
    <!-- {% if num_projects > 0 %}
    <a href="{{ site.baseurl }}/projects" class=" {% if include.active == "projects" %} active {% endif %}item">Projects ({{ num_projects }})</a>
    {% endif %}
    {% if num_posts > 0 %}
    <a href="{{ site.baseurl }}/posts" class=" {% if include.active == "posts" %} active {% endif %} item">posts ({{ num_posts }})</a>
    {% endif %}
    <a href="{{ site.baseurl }}/bio" class=" {% if include.active == "bio" %} active {% endif %} item">{{ site.bio-page-label }}</a> -->
  </nav>
</div>