<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <div class="ui stackable one column grid">
        <div class="column">
            <h2 class="ui center aligned icon header">
                <i class="circular user icon"></i>
                Currículo
              </h2>
        </div>
    </div>


    <div class="ui stackable one column centered grid container">
      
      <div class="ui stackable one column centered grid">
        <div class="column">
          <h4 class="ui horizontal divider header">
            <i class="graduation cap icon"></i>
            Escolaridade
          </h4>
          <h3 style="text-align: left; font-size: 25px;">Universidade Federal de Ouro Preto</h3>
          <p style="text-align: left; line-height: 0em; font-size: large;">Graduando em Ciência da Computação<p style="opacity: 0.5; font-size: 14px; float: left; font-weight: bold;">2018 - Atual</p></p>
        </div>

        <div class="two column centered row">
          <div class="column" style="float: left;">
            <h4 class="ui horizontal divider header">
              <i class="wrench icon"></i>
              Ferramentas
            </h4>

            <div class="two column row">
              <div class="row">
                <div class="ui bulleted list" style="font-size: medium;" >
                    <button class="ui tiny gray button"><div class="item" style="font-weight: bold;">VSCode</div></button>
                    <button class="ui tiny gray button"><div class="item" style="font-weight: bold;">Linux</div></button>
                    <button class="ui tiny gray button"><div class="item" style="font-weight: bold;">BurpSuite</div></button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="ui bulleted list" style="font-size: medium;" >
                    <button class="ui tiny gray button"><div class="item" style="font-weight: bold;">Wireshark</div></button>
                    <button class="ui tiny gray button"><div class="item" style="font-weight: bold;">Git/Github</div></button>
                    <button class="ui tiny gray button"><div class="item" style="font-weight: bold;">Windows</div></button>
                </div>
              </div>
            </div>
            

          </div>
          <div class="column" style="float: right;">
            <h4 class="ui horizontal divider header">
              <i class="code branch icon"></i>
              Linguagens/Frameworks
            </h4>
            <div class="two column row">
              <div class="row">
                <div class="ui bulleted list" style="font-size: medium;" >
                    <button class="ui tiny gray button"><div class="item" style="font-weight: bold;">Python</div></button>
                    <button class="ui tiny gray button"><div class="item" style="font-weight: bold;">C/C++</div></button>
                    <button class="ui tiny gray button"><div class="item" style="font-weight: bold;">Haskell</div></button>
  
                </div>
              </div>
              <br>
              <div class="row">
                <div class="ui bulleted list " style="font-size: medium;" >
                    <button class="ui tiny gray button"><div class="item" style="font-weight: bold;">Javascript</div></button>
                    <button class="ui tiny green button"><div class="item" style="font-weight: bold;">Semantic UI</div></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

          <div class="ui stackable one column centered grid" style="position: relative; top: -20px;">
            <div class="column">
                <h4 class="ui horizontal divider header">
                    <i class="computer icon"></i>
                    Trabalhos
                </h4>
            </div>
              <div class="ui three stackable cards" style="position: relative; top: 10px;">
                <div class="ui card segment blue">
                  <div class="ui top attached label">
                    Universidade Federal de Pernambuco
                  </div>
                  <div class="content">
                    <h3 class="ui header" style="line-height: 2em;">Auxiliar de Segurança
                      <div class="sub header">Fui responsável por reportar falhas no funcionamento do website <strong>No Bairro Tem</strong></div>
                    </h3>
                    <div class="ui bulleted list" style="margin-top: 0;">
                
                      <div class="item">Falha de LRFI</div>
                      
                      <div class="item">Falha de XSS Refletido</div>
                    
                    </div>
                      <div class="ui divider">
                        <p style="opacity: 0.5; font-size: small; text-align: left; margin-top: 2px;">2020 - 2020
                          <i class="calendar alternate outline icon"></i>
                        </p>
                      </div>
                  </div>
                </div>

                <div class="ui card segment blue">
                  <div class="ui top attached label">
                    Youtube
                  </div>
                  <div class="content">
                    <h3 class="ui header" style="line-height: 2em;">Produtor/Compositor
                      <div class="sub header">Dono do canal <strong>TheBionicSkin</strong></div>
                    </h3>
                    <div class="ui bulleted list" style="margin-top: 0;">
                
                      <div class="item">Produzo trilhas sonoras para comerciais e artistas independentes</div>
                      
                      <div class="item">Utilizo Fruity Loops Studio</div>
                    
                    </div>
                    <div class="ui divider">
                      <p style="opacity: 0.5; font-size: small; text-align: left; margin-top: 2px;">2012 - Atual
                        <i class="calendar alternate outline icon"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

          </div>

          

          <div class="ui stackable one column centered grid" style="top: -15px;">
            <div class="column">
              <h4 class="ui horizontal divider header">
                <i class="certificate icon"></i>
                Certificados
              </h4>
              <ul>
                <li><a href="https://www.freecodecamp.org/certification/shinji_mimura/javascript-algorithms-and-data-structures" style="color: black;"><strong>JavaScript Algorithms and Data Structures by freeCodeCamp</strong></li></a><br>
                <li><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-RTLHDLZ0.pdf" style="color: black;"><strong>Fundamentos de Ethical Hacking by Udemy</strong></li></a>
              </ul>
            </div>
            <div class="three column centered row">
              <div class="column" style="float: left;">
                <h4 class="ui horizontal divider header">
                  <i class="comments icon"></i>
                  Idiomas
                </h4>
                <div class="ui segment">
                  <div class="ui orange progress" data-percent="100" id="port">
                    <div class="bar">
                      <div class="progress"></div>
                    </div>
                    <div class="label" style="text-align: left;">Português | Nativo</div>
                  </div>
                  <div class="ui blue progress" data-percent="75" id="ing">
                    <div class="bar">
                      <div class="progress"></div>
                    </div>
                    <div class="label" style="text-align: left;">Inglês | Avançado</div>
                  </div>
                </div>
              </div>
              <div class="column" style="float: left;">
                <h4 class="ui horizontal divider header">
                  <i class="book icon"></i>
                  Interesses
                </h4>
                <div class="ui list">
                  <div class="item">
                    <i class="shield alternate icon"></i>
                    <div class="content">
                      <a href="https://pt.wikipedia.org/wiki/Seguran%C3%A7a_da_informa%C3%A7%C3%A3o" target="_blank">Segurança da Informação</a> 
                    </div>
                  </div>
                  <div class="item">
                    <i class="lock icon"></i>
                    <div class="content">
                      <a href="https://pt.wikipedia.org/wiki/Criptografia" target="_blank">Criptografia</a> 
                    </div>
                  </div>
                  <div class="item">
                    <i class="sitemap icon"></i>
                    <div class="content">
                      <a href="https://pt.wikipedia.org/wiki/Rede_de_computadores" target="_blank">Redes</a> 
                    </div>
                  </div>
                  <div class="item">
                    <i class="archive icon"></i>
                    <div class="content">
                      <a href="https://pt.wikipedia.org/wiki/Computa%C3%A7%C3%A3o_forense" target="_blank" rel="noopener noreferrer">Computação Forense</a> 
                    </div>
                  </div>
                </div>
              </div>

              <div class="column" style="float: right;">
                <h4 class="ui horizontal divider header">
                  <i class="bookmark icon"></i>
                  Mídias
                </h4>
                <div class="ui middle aligned animated list">
                  <div class="item">
                    <i class=" circular video icon"></i>
                    <div class="content">
                      <a href="https://www.youtube.com/channel/UCAv1fvk1xVm4rFWsIMBGJEw?view_as=subscriber"><div class="header">Youtube</div></a>
                    </div>
                  </div>
                  <div class="item">
                    <i class=" circular github icon"></i>
                    <div class="content">
                      <a href="https://github.com/Rutherford-sudo"><div class="header">Github</div></a>
                    </div>
                  </div>
                  <div class="item">
                    <i class="circular instagram icon"></i>
                    <div class="content">
                      <a href="https://www.instagram.com/lucas.araj"><div class="header">Instagram</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>

</body>

  <script>
    $('#port').progress();
    $('#ing').progress();
  </script>

</html>
