<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="curriculo" style="margin-top: 50px; margin-bottom: 0em;">
        <div class="ui stackable grid container">

            <div class="twelve wide column middle aligned">
                <h1 class="ui left aligned header no-bottom">
                    {{site.data.bio.basics.name}}
                    <span class="sub header">{{site.data.bio.basics.location.region}}, {{site.data.bio.basics.location.countryCode}}</span>
                </h1>
            </div>

            <div class="four wide column">
                <div class="ui middle aligned animated relaxed list">

                    <div class="four wide column">
                        <div class="ui middle aligned animated relaxed list">
                            {% for entry in site.data.bio.midias %}
                            <a class="item" href="{% if entry.id == '5' %} mailto:{{entry.website}} {% else %} {{entry.website}} {% endif %}" target="_blank">
                                <i class="{% if entry.id == '1' %} user alternate {% endif %}
                                          {% if entry.id == '2' %} instagram {% endif %}
                                          {% if entry.id == '3' %} github {% endif %}
                                          {% if entry.id == '4' %} youtube play {% endif %}
                                          {% if entry.id == '5' %} envelope {% endif %}
                                icon "></i>
                                <div class="content">
                                    <div class="header">{{entry.name}}</div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>

        <div class="ui one column stackable grid container" style="margin-bottom: 20px;">
            <div class="row">

                <div class="column">
                    {% for entry in site.data.bio.education %}
                    <h3 class="ui horizontal center aligned divider header">
                        <i class="graduation cap icon"></i>
                        Escolaridade
                    </h3>
                    <div class="ui one stackable cards" style="padding-top: 10px;">
                        <div class="ui card green" style=>
                            <div class="content">
                                <a class="ui top attached grey label" href="https://ufop.br/" target="_blank">
                                    <i class="university icon"></i>
                                    {{entry.institution}}
                                </a>
                                <div class="header">{{entry.area}}</div>
                                <div class="meta">
                                    <p>{{entry.studyType}}</p>
                                </div>
                                <div class="description"></div>
                            </div>
                            <div class="extra content">
                                <div class="left floated">
                                    <i class="calendar alternate icon"></i>
                                    <strong>{{entry.startDate}} - {{entry.endDate}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="ui one column stackable grid container" style="margin-bottom: 20px;">
            <div class="row">

                <div class="column">
                    <h3 class="ui horizontal center aligned divider header">
                        <i class="paperclip icon"></i>
                        Trabalhos
                    </h3>
                    <div class="ui three stackable cards" style="padding-top: 10px;">
                        {% for entry in site.data.bio.work %}
                        <div class=" ui blue segmented card">
                            <div class="content">
                                <div class="ui top attached grey label active"><i class="{% if entry.type == '1' %} university {% endif %} {% if entry.type == '2' %} music {% endif %} {% if entry.type == '' %} map marker alternate {% endif %} icon"></i>{{entry.company}}</div>
                                <div class="header">{{entry.position}}</div>

                                <div class="description">
                                    <p>{{entry.summary}} <strong>{{entry.destaque}}</strong> </p>
                                    <div class="ui bulleted list">
                                        {% for items in entry.highlights %}
                                        <div class="item">{{items}}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <i class="calendar alternate icon"></i>
                                <strong>{{entry.startDate}} - {{entry.endDate}}</strong>
                            </div>
                        </div>
                        
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="ui one column stackable grid container" style="margin-bottom: 20px;">
            <div class="column">
                <h3 class="ui horizontal center aligned divider header">
                    <i class="certificate icon"></i>
                    Certificados
                </h3>

                <div class="ui segment">
                   <div class="ui relaxed divided list">
                    {% for entry in site.data.bio.certificates %}
                    <div class="item">
                        <div class="content">
                            <a href="{{entry.website}}" target="_blank" class="header">{{entry.name}}</a>
                            <p class="description">{{entry.company}}</p>
                        </div>
                    </div>
                    {% endfor %}
                   </div>
                </div>
            </div>
        </div>

        <div class="ui one column stackable grid container" style="margin-bottom: 20px;">
            <div class="column">
                <h3 class="ui horizontal center aligned divider header">
                    <i class="comments icon"></i>
                    Idiomas
                </h3>
                <div class="ui horizontal stackable segments jsOnly">
                    {% for entry in site.data.bio.idiomas %}
                    <div class="ui segment">
                        <div class="ui blue progress active" style="min-width: 200px!important;" data-value={{entry.level}} data-total="100" data-percent={{entry.bar_level}} id={{entry.language}}>
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                            <div class="label" style="text-align: center;">{{entry.language}}</div>
                        </div>

                        <script>
                            $('#{{entry.language}}').progress({
                                label: 'percent',
                                text: {
                                    percent: '{value}'
                                }
                            });
                        </script>

                    </div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="ui three column stackable grid container" style="margin-bottom: 20px;">

            <div class="column">

                <h3 class="ui horizontal center aligned divider header">
                    <i class="code icon"></i>
                    Linguagens
                </h3>

                <div class="ui segment">
                    <div class="ui labels small">
                        {% for entry in site.data.bio.languages %}
                        <div class="ui teal label" data-title={{entry.level}} data-rating="3" data-variation="" id="{{entry.id}}">{{entry.name}}</div>

                        <script>
                            $('#{{entry.id}}')
                                .popup()
                            ;
                        </script>

                        {% endfor %}
                    </div>

                </div>

            </div>


            <div class="column">

                <h3 class="ui horizontal center aligned divider header">
                    <i class="laptop icon"></i>
                    Sistemas
                </h3>

                <div class="ui segment">
                    <div class="ui labels small">
                        {% for entry in site.data.bio.sistema %}
                        <div class="ui teal label">{{entry.name}}</div>
                        {% endfor %}
                    </div>
                </div>

            </div>


            <div class="column">

                <h3 class="ui horizontal center aligned divider header">
                    <i class="tools icon"></i>
                    Ferramentas
                </h3>

                <div class="ui segment">
                    <div class="ui labels small">
                        {% for entry in site.data.bio.ferramenta %}
                        <div class="ui teal label">{{entry.name}}</div>
                        {% endfor %}
                    </div>
                </div>

            </div>


        </div>


        <div class="ui one column stackable grid container" style="margin-bottom: 20px;">
            <div class="column">
                <h3 class="ui horizontal center aligned divider header">
                    <i class="book icon"></i>
                    Interesses
                </h3>

                <div class="ui segment">
                    <div class="ui vertical bulleted link list">
                        {% for entry in site.data.bio.interesses_bio %}
                        <div class="item">

                            <div class="content">
                                <a href="{{entry.website}}" target="_blank" rel="noopener noreferrer">{{entry.name}}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                  </div>
            </div>


        </div>



    </div>
</body>
</html>
