<!-- Used by theme-posts-builtin-2 -->

<div class="row">
  <div style="text-align: center" class="three wide column">
    <p style="margin-top: 10px" class="ui red label">{{ include.page.date | date_to_string }}</p>
  </div>

  <div class="ten wide column">
    <h2 class="header">{{ include.page.title }}</h2>
    <p>{{ include.page.content | markdownify | strip_html | truncatewords: 40 }}</p>

    <p>
    <div style="text-align: center" class="ui mini labels">
      {% for label in include.page.labels %}
      <div class="ui basic label">{{ label }}</div>
      {% endfor %}
    </div>
    </p>

    <div style="text-align: center">
      <a class="ui basic button" href="{{ site.baseurl}}{{ include.page.url }}">Read More</a>
    </div>
    <hr style="margin-top: 20px">
  </div>
</div>
