<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Page</title>
</head>

<body>
    <div class="ui one column stackable grid container stackable" style="margin-top: 50px; margin-bottom: 0em">
        <div class="row">
            <div class="column">
                <h4 class="ui horizontal center aligned divider header">
                    <i class="compact disc icon"></i>
                    Artistas Preferidos
                </h4>

                <div class="ui three stackable cards" style="padding-top: 10px">
                    <div class="ui card">
                        <a class="image" href="#">
                            <img src="../images/secret_images/radiohead.jpg" />
                        </a>
                        <div class="content">
                            <a class="header" href="#">Radiohead</a>
                            <div class="meta">
                                <a>1IGFwYXJ0</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <a class="image" href="#">
                            <img src="../images/secret_images/joydivision.jpg" />
                        </a>
                        <div class="content">
                            <a class="header" href="#">Joy Division</a>
                            <div class="meta">
                                <a>lLiBCdXQgdGhleSB</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <a class="image" href="#">
                            <img src="../images/secret_images/aphex-twin.jpg" />
                        </a>
                        <div class="content">
                            <a class="header" href="#">Aphex Twin</a>
                            <div class="meta">
                                <a>TWVtb3JpZXMgd2F</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <a class="image" href="#">
                            <img src="../images/secret_images/Mac-DeMarco.jpg" />
                        </a>
                        <div class="content">
                            <a class="header" href="#">Mac DeMarco</a>
                            <div class="meta">
                                <a>hbHNvIHRlYXIgeW9</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <a class="image" href="#">
                            <img src="../images/secret_images/jorge.jpg" />
                        </a>
                        <div class="content">
                            <a class="header" href="#">Jorge Ben Jor</a>
                            <div class="meta">
                                <a>vbSB0aGUgaW5zaWR</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <a class="image" href="#">
                            <img src="../images/secret_images/bjork.jpg" />
                        </a>
                        <div class="content">
                            <a class="header" href="#">Björk</a>
                            <div class="meta">
                                <a>ybSB5b3UgdXAgZnJ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui one column stackable grid container stackable" style="margin-top: 20px; margin-bottom: 0em">
        <div class="row">
            <div class="column">
                <h4 class="ui horizontal center aligned divider header">
                    <i class="book icon"></i>
                    Livros Preferidos
                </h4>

                <div class="ui three stackable cards" style="padding-top: 10px">
                    <div class="ui card">
                        <a class="image" href="#">
                            <img src="../images/secret_images/norgewian.jpeg" />
                        </a>
                        <div class="content">
                            <a class="header" href="#">Norwegian Wood</a>
                            <div class="meta">
                                <a>SBnb2lu</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <a class="image" href="#">
                            <img src="../images/secret_images/battleroyale.jpg" />
                        </a>
                        <div class="content">
                            <a class="header" href="#">Battle Royale</a>
                            <div class="meta">
                                <a>QW5kIG9</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <a class="image" href="#">
                            <img src="../images/secret_images/quarto.jpeg" />
                        </a>
                        <div class="content">
                            <a class="header" href="#">Quarto de Despejo</a>
                            <div class="meta">
                                <a>93IHdpbmdzCg</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <a class="image" href="#">
                            <img src="../images/secret_images/flowers.jpg" />
                        </a>
                        <div class="content">
                            <a class="header" href="#">Flowers For Algernon</a>
                            <div class="meta">
                                <a>kgSSBhb</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <a class="image" href="#">
                            <img src="../images/secret_images/capitaes.jpg" />
                        </a>
                        <div class="content">
                            <a class="header" href="#">Capitães da Areia</a>
                            <div class="meta">
                                <a>uZSBkYX</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <a class="image" href="#">
                            <img src="../images/secret_images/pachinko.jpeg" />
                        </a>
                        <div class="content">
                            <a class="header" href="#">Pachinko</a>
                            <div class="meta">
                                <a>ZyB0byBncm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui one column stackable grid container" style="margin-top: 20px; margin-bottom: 0em">
        <div class="row">
            <div class="column">
                <h4 class="ui horizontal center aligned divider header">Segredo ?</h4>

                <div id="form-secret" class="ui segment">
                    <form class="ui form" method="POST">
                        <div class="field">
                            <label>Meu Livro Favorito?</label>
                            <input type="text" required="true" name="book-name" placeholder="Nome do Livro" />
                        </div>
                        <div class="field">
                            <label>Minha Música Favorita?</label>
                            <input type="text" required="true" name="song-name" placeholder="Nome da Música" />
                        </div>
                        <button class="ui button" type="submit">Enviar</button>
                    </form>
                </div>

                <div id="form-response" class="ui segment">
                    <form class="ui form">
                        <div class="field">
                            <label>Chave Secreta</label>
                            <input type="text" name="key-value" readonly="readonly">
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    
</body>

</html>