<div style="margin-top: 10px; margin-bottom: 20px" class="ui stackable grid container">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">{{ site.data.bio.basics.name }}</h2>
  </div>

  <div class="eight wide left aligned column">
    {% include bio-network-links.html %}
  </div>

  <div class="eight wide right aligned column">
    {% include bio-address.html %}
  </div>

  {% include bio-education-2.html %}
  {% include bio-work-2.html %}
  {% include bio-volunteer-2.html %}
  {% include bio-publications-2.html %}
  {% include bio-awards-2.html %}
</div>