<div style="height: 100%" class="ui grid ">

    <div class="column">
  
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" display="block; margin:0 auto;" target="_blank">
          <input type="hidden" name="cmd" value="_donations" />
          <input type="hidden" name="business" value="togaquest@gmail.com" />
          <input type="hidden" name="item_name" value="Thank you... Roman" />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="image" src="https://res.cloudinary.com/togaquest/image/upload/w_100,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_skyblue,b_rgb:262c35/v1576839709/coin_g56bmw.jpg" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" target="_blank"/>
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>          

          <h1 style="padding-left: 350px;" target="_blank"> <i>For gifts and compensation...</i></h1>

          <h2 style="padding-left: 300px; padding-top: 40px; font-size: medium;"> Alternatively, Bitcoin : <span style="color: yellow">148ozyHZsh2NL9bsMPq7xwVkdGHZQeoo95</span> </h2>

    </div>

</div>
