<div style="margin-top: 10px; " class="ui grid container">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">{{ site.data.bio.basics.name }}</h2>
  </div>

  <div class="eight wide left aligned column">
    {% include bio-network-links.html %}
  </div>

  <div class="eight wide right aligned column">
    {% include bio-address-section.html %}
  </div>
</div>

<div style="margin-bottom: 20px" class="ui stackable grid container">
  {% include bio-education-section-1.html %}
  {% include bio-work-section-1.html %}
  {% include bio-volunteer-section-1.html %}
  {% include bio-publications-section-1.html %}
  {% include bio-awards-section-1.html %}
</div>